mongoDB_uri = MONGO_DB_URI
llama_hf_API = HUGGING_FACE_API_LLAMA
mistral_API = MISTRAL_MODEL_API
collab_token = HUGGING_FACE_TOKEN_FOR_GOOGLE_COLAB

GITHUB_USERNAME = GITHUB_USERNAME
GITHUB_BRANCH_NAME = GITHUB_BRANCH_NAME
GITHUB_PAT = GITHUB_PAT