MONGODB_URI = "Your MongoDB URI"
MISTRAL_API_KEY = "Your Mistral API Key"
GOOGLE_COLAB_HUGGINGFACE_TOKEN = "Your HuggingFace token for Google Colab"

GITHUB_USERNAME = 'Your GitHub username'
GITHUB_BRANCH_NAME = 'The GitHub Branch you wish to clone'
GITHUB_PAT = 'Your GitHub Personal Access Token'