openrouterBaseURL = "<Insert OpenRouter Base URL here>"

openrouterDeepSeekR1 = ""deepseek/deepseek-r1-0528:free""
openrouterDeepSeekR1_API = "<Open Router API key>"

mongoDB_uri = "<Mongo DB URI>"
llama_hf_API = "<HuggingFace API key>"
mistral_API = "<Mistral API key>"
